backend/birthdays.dtd

<!ELEMENT birthdays (monthname,bday*)>
<!ELEMENT monthname (#PCDATA)>
<!ELEMENT bday (daysleft,id,name,day,month,year,notes)>
<!ELEMENT daysleft (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
