backend/edit.dtd

<!ELEMENT birthdays (monthname, year, bday*)>
<!ELEMENT monthname (#PCDATA)>
<!ELEMENT bday (daysleft,id,name,day,month,year,notes, fulldate)>
<!ELEMENT daysleft (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT fulldate (#PCDATA)>
