backend/dtd/birthdays.dtd

<!ELEMENT birthdays (day, monthname, year, bday*)>
<!ELEMENT monthname (#PCDATA)>
<!ELEMENT bday (daysleft,id,name,day,month,year,notes, age)>
<!ELEMENT daysleft (#PCDATA)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT age (#PCDATA)>