backend/dtd/popup.dtd

<!ELEMENT birthdays (day, monthname, year, bday*)>
<!ELEMENT monthname (#PCDATA)>
<!ELEMENT bday (id, name, day, month, year, notes, fulldate, age)>
<!ELEMENT id (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!ELEMENT notes (#PCDATA)>
<!ELEMENT fulldate (#PCDATA)>
<!ELEMENT age (#PCDATA)>